.home_product{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    
     
}


@media(max-width:564px){

    .home_product{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 96%;
         
    }

}
.product_img {
    cursor: pointer;
    width: 270px !important;
    height: 200px ;
    margin-left: 10px;
    padding: 20px;
    transition: all 0.3s ease;
}
.product_img:hover{
    border-radius: 20px;
    transform: scale(1.1);
    
}
.product_card{
    margin: 10px;
    border: 1px solid orange;
    transition: all 0.3s ease;
}
.product_card:hover{
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px 3px;
    transform: translateY(-10px);
}


.total h5{
    color: blue;
    font-size: 26px;
    text-align: center;
}

.total h2{
    color: blue;
    font-size: 26px;
    margin-top: 20px;
    margin-left: 12%;
}


.cart_all{
   width: 70%;
   height: auto;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   border: 2px solid black;
   padding: 10px;
   margin-left: 10%;
   margin-bottom: 20px;
 
}

.cart_tr{
    margin: 10px;
}

.car-2-img{
    margin: 10px;
}

@media(max-width:564px){
    .home_product{
        margin-left: 14px;
    }
    
}
.clear-btn{
   margin-top: 30px;
   
}
.bbtn{
    margin: 10px;
    border-radius: 8px;
}
.buy-btn{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.clear-btn1{
    border-radius: 8px;
}

@media(max-width:564px){
    .total h2{
        color: blue;
        font-size: 26px;
        margin-top: 20px;
        margin-left: 25%;
    }
    .cart_all{
        width: 70%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 2px solid black;
        padding: 10px;
        margin-left: 15%;
        margin-bottom: 20px;
      
     }
    .clear-btn1{
        border-radius: 8px;
        margin-left: 70px;
    }
       
}

/* @media(min-width:320px){

} */
