.footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    /* background-color: rgb(0,0,0,.5); */
}
.footer h1{
    font-size: 30px;
    color: whitesmoke;
    margin: 10px;
    font-weight: 700;
    align-items: center;
    text-align: center;
}
.footer ul li{
    display: inline;
}
.footer ul li a{
    display: block;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    
}

.footer ul li a:hover{
    color: orange;
    background-color: orange;
    border-radius: 10px;
}

.footer p{
    font-size: 20px;
    padding: 10px;
}

.text2 a{
    color: rgba(216, 210, 210, 0.5);
}